.IdeaInputs {
  background-color: #EAEAEA;
  padding: 2rem;
}

.ideas-field {
  width: 70%;
  margin: auto;
}

.title-label, 
.body-label {
  text-align: left;
}

.title-input {
  height: 4vh;
  border-width: 1px; 
}

.body-input {
  height: 8vh;
}

.inputs {
  border: solid 1px #d4d2d8;
  border-radius: 5px;
  margin-bottom: 18px;
  margin-top: 5px;
  outline-color: #afa5cd;
  width: 100%;
}

.buttons {
  height: 4vh;
  background-color: #5E5C6B;
  border-radius: 5px;
  border-style: solid;
  color: #FFFFFF;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
  
  &:hover {
    cursor: pointer;
  }
}


.save-button {
  width: 100%;
  
  &:disabled {
    background-color: #808080;
  }
}
e
.filter-buttons-section {
  display: flex;
}

.filter-button {
  width: 25%;
}

.reset-button {
  background-color: #afa5cd;
  width: 25%;
}